//@import "compass/css3";

//colors

//$colorMain: #b1230c;

/* CSS declarations go here */

html, body{
    min-height:100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: #fff;
    font-family:roboto, sans-serif;
    //background-image(radial-gradient(45px 45px, #eeeeee 10px, #f6f6f6 30px));
}
#siteContent{
    padding-top:100px;
    text-align:center;
    max-width: 972px;
    left: 0;
    right: 0;
    margin: auto;
    h1{
        font-family: Oxygen, arial;
    }
}

h2 {
    margin-bottom: 2rem;
}

.bunch {
    display: inline-block;
    padding: 0.5em;
    display:block;
    position:relative;
    left: 0;
    right: 0;
    margin: auto;
    width:400px;
    min-height:120px;
    background-color: #ccc;
    margin-bottom: 10px;
    &:last-child{
        border:none;

        // temp solution
        input{
            position:relative;
            z-index:1;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    padding: 5px;
}

.delete.xClose {
    color: #fff;
    margin-bottom: 0.5em;
    float: right;
}    

.xClose{
    color: #ccc;
    background: none;
    border: none;
    outline:none;
    cursor:pointer;
    i.small.icon {
        font-size: 0.6em;
        vertical-align: middle;
    }
}
.leave {

}

form input {
    display: block;
}
