//@import "compass/css3";

//colors

//$colorMain: #b1230c;

/* CSS declarations go here */

html, body{
    min-height:100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: #eeeeee;
    font-family:roboto, sans-serif;
    //background-image(radial-gradient(45px 45px, #eeeeee 10px, #f6f6f6 30px));
}
#siteContent{
    padding-top:100px;
    text-align:center;
    max-width: 972px;
    left: 0;
    right: 0;
    margin: auto;
    h1{
        font-family: Lobster, arial;
        font-size: 50px;
        color:#b1230c;
    }
}



.team-name-container{
    margin-top:50px;
    display: inline-block;
    .team-name{
        input{
            width: 350px;
            height:40px;
            font-size: 16px;
            padding: 0 10px;
            box-sizing: border-box;
            margin-top:10px;
            &:focus{
                outline:none;
            }
        }
    }
}

.input-title{
    text-transform: uppercase;
}


.bunch {
    display: inline-block;
    padding: 0.5em;
    display:block;
    position:relative;
    left: 0;
    right: 0;
    margin: auto;
    width:400px;
    min-height:120px;
    background-color: #ccc;
    margin-bottom: 10px;
    &:last-child{
        border:none;

        // temp solution
        input{
            position:relative;
            z-index:1;
        }

        button{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border: none;
            background-color: #b1230c;
            color:#ffffff;
            cursor: pointer;
            font-size:16px;
            text-transform: uppercase;
        }       
    }
    .bunchTitle{
        background-color: #b1230c;
        color: #fff;
        text-align: left;
        padding: 0 10px;
        margin-bottom:0.5em;
        h2{
            margin:0;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    padding: 5px;
}

.delete { 
    float: right; 
    font-weight: bold;
    background: none;
    border: none;
    color: #888;
    font-size:30px;
    outline:none;
    cursor:pointer;

}

.leave {
    font-weight: bold;
    background: none;
    border: none;
    color: #888;
}

form input {
    display: block;
}
