/* CSS declarations go here */
.bunch {
    display: inline-block;
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.5em;
    background-color:red;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    padding: 5px;
}

.delete { 
    float: right; 
    font-weight: bold;
    background: none;
    border: none;
    color: #ccc;
}

.leave {
    font-weight: bold;
    background: none;
    border: none;
    color: #ccc;
}

form input {
    display: block;
}
