/* CSS declarations go here */
/* line 9, ../sass/lunchbuddy.scss */
html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: roboto, sans-serif;
}

/* line 18, ../sass/lunchbuddy.scss */
#siteContent {
  padding-top: 100px;
  text-align: center;
  max-width: 972px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 25, ../sass/lunchbuddy.scss */
#siteContent h1 {
  font-family: Lobster, arial;
  font-size: 50px;
  color: #b1230c;
}

/* line 34, ../sass/lunchbuddy.scss */
.team-name-container {
  margin-top: 50px;
  display: inline-block;
}
/* line 38, ../sass/lunchbuddy.scss */
.team-name-container .team-name input {
  width: 350px;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
/* line 45, ../sass/lunchbuddy.scss */
.team-name-container .team-name input:focus {
  outline: none;
}

/* line 52, ../sass/lunchbuddy.scss */
.input-title {
  text-transform: uppercase;
}

/* line 57, ../sass/lunchbuddy.scss */
.bunch {
  display: inline-block;
  padding: 0.5em;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  min-height: 120px;
  background-color: #ccc;
  margin-bottom: 10px;
}
/* line 69, ../sass/lunchbuddy.scss */
.bunch:last-child {
  border: none;
}
/* line 73, ../sass/lunchbuddy.scss */
.bunch:last-child input {
  position: relative;
  z-index: 1;
}
/* line 78, ../sass/lunchbuddy.scss */
.bunch:last-child button {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  background-color: #b1230c;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 93, ../sass/lunchbuddy.scss */
.bunch .bunchTitle {
  background-color: #b1230c;
  color: #fff;
  text-align: left;
  padding: 0 10px;
  margin-bottom: 0.5em;
}
/* line 99, ../sass/lunchbuddy.scss */
.bunch .bunchTitle h2 {
  margin: 0;
}

/* line 105, ../sass/lunchbuddy.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 110, ../sass/lunchbuddy.scss */
li {
  position: relative;
  list-style: none;
  padding: 5px;
}

/* line 116, ../sass/lunchbuddy.scss */
.delete {
  float: right;
  font-weight: bold;
  background: none;
  border: none;
  color: #888;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}

/* line 128, ../sass/lunchbuddy.scss */
.leave {
  font-weight: bold;
  background: none;
  border: none;
  color: #888;
}

/* line 135, ../sass/lunchbuddy.scss */
form input {
  display: block;
}
